.feeds {
  margin-bottom: 67px;
}

.feeds__cont {
  margin-bottom: 43px;
}

.feeds__title {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: 58px;
}

.feeds__block {
  float: left;
}

.feeds__block {
  font-family: 'Roboto', Arial, sans-serif;
  width: 830px;
}

.feeds__item {
  display: block;
  transition: background-color .6s;
  margin-bottom: 24px;
}

.feeds__item:last-child {
  margin-bottom: 0;
}

.feeds__item:hover {
  background-color: rgba(224, 224, 224, 0.25);
  border-radius: 10px;
}

.feeds__image,
.feeds__text {
  float: left;
}

.feeds__image {
  margin: 27px 0px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 21px;
  margin-top: 6px;
}

.feeds__img {
  background-size: 160px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  transition: .5s;
}

.feeds__img--body {
  background-image: url('../../img/content/feed1.jpg');
}

.feeds__img--friens {
  background-image: url('../../img/content/feed2.jpg');
}

.feeds__img--freelance {
  background-image: url('../../img/content/feed3.jpg');
}

.feeds__img:hover {
  transform: scale(1.1);
}

.feeds__text {
  margin-top: 0;
  width: 611px;
}

.feeds__date {
  color: #656464;
  font-size: 14px;
  font-weight: lighter;
}

.feeds__name {
  font-weight: bold;
  color: #221f1f;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 7px;
}

.feeds__content {
  font-size: 18px;
  color: #221f1f;
  font-weight: 300;
  margin-top: 0;
  line-height: 30px;
  margin-bottom: 21px;
}

.feeds__item:not(:last-of-type) {
  border-bottom: 2px solid #f5f5f5;
}

/*топ новостей*/

.feeds__top-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.feeds__top {
  float: right;
  margin-top: 28px;
}

.feeds__top-title {
  color: #221f1f;
  padding-bottom: 4px;
  letter-spacing: 2.4px;
}

.feeds__top-mounth {
  color: #656464;
  margin-bottom: 16px;
}

.feeds__top-item {
  margin-bottom: 5px;
  width: 160px;
  overflow: hidden;
}

.feeds__top-item {
  margin-bottom: 13px;
}

.feeds__top-item:last-child {
  margin-bottom: 0px;
}
