.header {
  background: #131415;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 79px;
}

.reviews__header {
  margin-bottom: 37px;
}

.header__left,
.header__mid,
.header__right {
  display: inline-block;
  vertical-align: middle;
  width: 33.33%;
}

.header .container {
  font-size: 0;
}

.header__left {
  font-size: 14px;
}

.header__menu-nav,
.contacts {
  line-height: 1;
}

.header__menu-nav {
  text-align: center;
  font-size: 0;
}

.menu-nav__item {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  display: inline-block;
  width: 33.33%
}

.menu-nav__item {
  text-align: left;
  padding-left: 18px;
  box-sizing: border-box;
}

.menu-nav__item:first-of-type {
  padding-left: 7px;
}

.menu-nav__link {
  color: #ffffff;
  text-decoration: none;
  transition: .3s;
}

.menu-nav__icon {
  padding-right: 8px;
  display: inline-block;
  vertical-align: middle;
  background-image: url('./../../img/sprite/sprites.png');
  background-position: center center;
  background-repeat: no-repeat;

}

.menu-nav__icon::after {
  content: "";
  padding-right: 8px;
  display: inline-block;
  vertical-align: middle;
  background-image: url('./../../img/sprite/sprites.png');
  background-position: center center;
  background-repeat: no-repeat;
  transition: .3s;
}

.menu-nav__link:hover .menu-nav__icon::after {
  opacity: 1;
}

.menu-nav__link:hover {
  color: #f89513;
}

.menu-nav__link--active {
  color: #f89513;
}

.menu-nav__icon--main {
  background-position: 0 -50px;
  width: 24px;
  height: 14px;
}

.menu-nav__icon--main::after {
  background-position: 0 -100px;
  width: 24px;
  height: 14px;
  opacity: 0;
}

.menu-nav__link--active .menu-nav__icon--main {
  background-position: 0 -100px;
}

.menu-nav__icon--reviews {
  background-position: -50px -50px;
  width: 24px;
  height: 18px;
}

.menu-nav__icon--reviews::after {
  background-position: -50px -100px;
	width: 20px;
	height: 18px;
  opacity: 0;
}

.menu-nav__link--active .menu-nav__icon--reviews {
  background-position: -50px -100px;
}

.menu-nav__icon--services {
  background-position: -100px -50px;
  width: 24px;
  height: 14px;
  transition: .5s;
}

.menu-nav__icon--services::after {
  background-position: -100px -100px;
  width: 24px;
  height: 14px;
  opacity: 0;
}

.menu-nav__link--active .menu-nav__icon--services {
  background-position: -100px -100px;
}

.menu-nav__text {
  display: inline-block;
  vertical-align: middle;
}

.header__right {
  font-weight: bold;
  text-align: right;
}

.contacts {
  font-style: normal;
}

.header__phone {
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
}

.header__schedule {
  color: #c77814;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 5px;
}
