.info {
  background-color: #131415;
  background-image: url('./../../img/decor/info_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  padding-top: 21px;
  padding-bottom: 30px;
}

.info__text {
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
  margin: 0 auto;
  width: 667px;
  line-height: 30px;
}

.yellow-text {
  font-weight: bold;
  color: #f89513;
}
