.services__header {
  margin-bottom: 37px;
}

.maincontent {
  margin: 0 auto;
  width: 885px;
}

.services {
  margin-bottom: 57px;
}

.services__title {
  padding: 0;
  text-align: left;
  margin-bottom: 34px;
}

.services__list {
  width: 880px;
  margin: 0 auto;
}

.services__row {
  font-size: 0;
  margin-bottom: 45px;
}

.services__row:last-child {
  margin-bottom: 0;
}

.services__item {
  display: inline-block;
  width: 260px;
  vertical-align: top;
  margin-right: 50px;
}

.services__item:last-child {
  margin-right: 0;
}

.services__image {
  width: 250px;
  height: 153px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 5px;
  margin-bottom: 24px;
}

.services__image::before {
  position: absolute;
  display: block;
  content: "";
  width: 250px;
  height: 153px;
  background: #7a7a7a;
  opacity: 0.522;
  border-radius: 5px;
}

.services__image-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  z-index: 10;
}

.services__image--fitness {
  background-image: url('./../../img/content/fitness.jpg');
}

.services__image--diet {
  background-image: url('./../../img/content/apple.jpg');
}

.services__image--yoga {
  background-image: url('./../../img/content/yoga.jpg');
}

.services__image--trx {
  background-image: url('./../../img/content/trx.jpg');
}

.services__image--crossfit {
  background-image: url('./../../img/content/crossfit.jpg');
}

.services__image--swim {
  background-image: url('./../../img/content/swimming.jpg');
}

.services__text {
  font-size: 12px;
  color: #221f1f;
  width: 259px;
  line-height: 21px;
}

.services__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.services__content {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}
