body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-webkit-font-smoothing: antialiased;
  -moz-webkit-font-smoothing: grayscale;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 49px;
  text-transform: uppercase;
  font-weight: bold;
}

.features__list,
.feeds ul,
footer ul,
header ul {
  list-style: none;
}

header,
footer {
  background: #131415;
}

.header__left {
  color: #f89513;
  text-align: left;
}

.header__mid {
  text-align: center;
}

.header__menu a {
  color: #ffffff;
  text-decoration: none;
}

.header__right {
  text-align: right;
}

.header__phone {
  color: #ffffff;
  text-decoration: none;
}

.header__schedule {
  color: #c77814;
}

.banner {
  background: #fff;
  text-align: center;
}

.features {
  background: #131415;
  color: #fff;
}

.features__icon {
  width: 70px;
  height: 70px;
  overflow: hidden;
  background: #f89513;
  border-radius: 50%;
}

.features__card-title {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.features__item {
  text-align: center;
}

.feeds__list,
.feeds__pages {
  font-family: 'Roboto', Arial, sans-serif;
}

.feed__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.feed__content {
  font-size: 18px;
  color: #221f1f;
}

.feed__title {
  font-weight: bold;
  color: #221f1f;
  font-size: 18px;
}

.feed__date {
  color: #656464;
  font-size: 14px;
  font-weight: lighter;
}

.feeds__top-title {
  font-size: 12px;
  text-transform: uppercase;
}

.feeds__top-start {
  color: #221f1f;
}

.feeds__top-end {
  color: #656464;
}

.feeds__top-item {
  width: 160px;
  overflow: hidden;
}

.feeds__pages {
  font-size: 14px;
}

.feeds__page {
  color: #656464;
  font-weight: lighter;
}

.feeds__nav {
  color: #221f1f;
  font-weight: bold;
}

.feeds__back {
  color: #bebdbd;
  background-color
}

.feeds__pages-list li:first-child {
  color: #fff;
  background-color: #27273e;
  border-radius: 2px;
  width: 25px;
  height: 25px;
  text-align: center;
}

footer {
  color: #fff;
}

footer a {
  color: #fff;
}

.footer__link,
.footer__social {
  font-weight: bold;
}

.footer__left {
  text-align: left;
}

.footer__mid {
  text-align: center;
}

.footer__right {
  text-align: right;
}
