html,
body {
  height: 100%;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
}

.img {
  margin-top: 20px;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-width: 1100px;
}
.breadcrumbs {
  text-align: center;
}

.breadcrumbs__item {
  display: inline-block;
  margin-right: 15px;
}

.ul {
  margin-bottom: 15px;
}

.li {
  list-style: disc;
}

br {
  margin-top: 10px;
}
